@inherits LayoutComponentBase
@inject NavigationManager Navigation
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <button @onclick="LogOut">Logg ut </button>
                    <p>Velkommen, @context.User.Identity?.Name</p>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    void LogOut()=> Navigation.NavigateToLogout("/authentication/logout", "/");
}
